//taken from : Jelena Jovanovic : https://codepen.io/plavookac/pen/qomrMw

// I have added comments below to try to show if I understand all the steps Jelena Jovanovic took to make this work

// #sidebarMenu {
//   //sidebar design
//   height: 100vh; //
//   width: 100vw;
//   position: fixed;
//   left: 0; //default left of screen
//   // width: 250px;
//   margin-top: 0px; //margin top
//   z-index: 12; //make sure it displays over everything else
//   transform: translateX(-100vw); //move left 100vw out of the screen
//   transition: transform 250ms ease-in-out; //transition speed
//   background: #e4f9f5;
//   text-align: center;
//   overflow-y: auto; //scroll only when needed
// }
// .sidebarMenuInner {
//   //used to center the inner content the buttons and stuff
//   width: 100%;
//   margin: 0;
//   padding: 0;
// }
// .sidebarMenuInner li {
//   //color of top part of inner logo
//   list-style: none;
//   color: black;
//   text-transform: uppercase;
//   font-weight: bold;
//   padding: 20px;
//   cursor: pointer;
//   //   border-bottom: 2px solid black;
// }
// .sidebarMenuInner li span {
//   //color of bottom section of inner logo

//   color: black;
// }
// .sidebarMenuInner li a {
//   //inner link design
//   background-color: #e0fddf;
//   border-radius: 28px;
//   border: 2px solid #000000;
//   display: inline-block;
//   cursor: pointer;
//   color: #000000;
//   font-family: Arial;
//   font-size: 20px;
//   padding: 16px 31px;
//   text-decoration: none;
//   text-shadow: 0px 1px 0px #2f6627;
// }
// .sidebarMenuInner li a:hover {
//   //change background on hover
//   background-color: #ffffff;
// }
input[type="checkbox"]:checked ~ #sidebarMenu {
  //bring sidebar into screen
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  z-index: 30;
  //position of the toggle
  transition: all 43s; //refers to all values
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  right: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  //used to groups all bars together
  transition: all 4s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: black;
}
.horizontal {
  //bar close design
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  //bar close design
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  //bar close design
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  //animation
  // middle bar that disappears when opening
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  //animation
  // top bar that rotates down to form x
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  //animation
  // bottom bar rotates up to form x
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

// NEW THINGS I HAVE ADDED

.side-bar {
  display: block;
}

.first-section {
  height: 60px;
  border-bottom: none !important;
}

.side-bar-title {
  font-family: "Kumar One Outline", cursive;
  font-size: 2rem;
  text-transform: uppercase;

  span::before {
    content: "\A";
    white-space: pre;
  }
}
