@import "setup";

$yellow: #f8fb05;
$light-green: #e0fddf;
$dark-green: #065635;

@mixin buttonText {
  font-family: "Kumar One", cursive;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.home header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/header-home.jpg");
  height: 95vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 200px;

  h1 {
    position: absolute;
    left: 400px;
    top: 100px;
    font-family: "Kumar One Outline", cursive;
    font-size: 4rem;
    text-transform: uppercase;
    span::before {
      content: "\A";
      white-space: pre;
      color: red;
    }
  }
  nav {
    position: absolute;
    right: 10%;
    top: 0px;
    ul {
      display: flex;
      li {
        list-style-type: none;
        margin-left: 50px;
        font-family: "Lato", sans-serif;
        font-size: 1.25rem;
        text-align: center;
        a {
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1.4px;
          line-height: 29px;
        }
      }
    }
  }
}

.home header::before {
  background-image: url("../images/header-box.png");
  content: " ";
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  top: 40vh;
  left: 0vw;
}

.home .about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  div {
    h2 {
      font-family: "Kumar One", sans-serif;
      text-transform: uppercase;
      font-size: 33px;
    }
    p {
      font-family: "Lato", sans-serif;
      font-size: 1.25rem;
      width: 90%;
    }
    a {
      background-color: $dark-green;
      color: white;
      padding: 20px 25px;
      display: inline-block;
      @include buttonText;
    }
  }
  img {
    box-shadow: -20px 20px $yellow;
  }
}

.home .gallery {
  margin-top: 40px;
  padding: 75px 0px;
  background-color: $light-green;
  div {
    div {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: auto;
    }

    img {
      width: calc(100% / 3);
      height: auto;
      //   height: calc(100% / 3);
    }
    img:nth-child(2) {
      margin: 0px 50px;
    }
  }
}

.about2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  div {
    position: relative;
    width: calc((100% - 100px) / 2);
    margin: 25px;
    .font-awesome-icon {
      font-size: 33px;
      width: 65px;
      display: block;
      background-color: $yellow;
      border-radius: 50px;
      padding: 15px;
      position: absolute;
      top: 10px;
      left: -75px;
    }
    h2 {
      font-family: "Kumar One", sans-serif;
      text-transform: uppercase;
      font-size: 2.0625rem;
    }
    p {
      font-family: "Lato", sans-serif;
      font-size: 1.25rem;
      width: 90%;
    }
  }
}

.about3 {
  background-color: $light-green;
  .parent-grid-div {
    position: relative;
    width: 100%;
    display: flex;

    .inner-div1 {
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      top: -50px;
      img {
        width: 100%;
        height: auto;
        box-shadow: 25px 35px $yellow;
      }
      div {
        width: 60%;
        text-align: end;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: "Lato", sans-serif;
        font-size: 1.25rem;
        h2 {
          font-family: "Kumar One", sans-serif;
          text-transform: uppercase;
          font-size: 2.0625rem;
        }
        a {
          background-color: $dark-green;
          color: white;
          padding: 20px 25px;
          display: inline-block;
          @include buttonText;
        }
      }
    }
    .inner-div2 {
      margin-left: 100px;
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      top: 50px;

      img {
        width: 100%;
        height: auto;
        box-shadow: -25px 35px $yellow;
      }
      div {
        margin-bottom: 50px;
        width: 60%;
        font-family: "Lato", sans-serif;
        font-size: 1.25rem;
        h2 {
          font-family: "Kumar One", sans-serif;
          text-transform: uppercase;
          font-size: 2.0625rem;
        }
        a {
          background-color: $dark-green;
          color: white;
          padding: 20px 25px;
          display: inline-block;
          @include buttonText;
        }
      }
    }
  }
}

.about4 {
  div {
    margin: 100px auto;
    text-align: center;
    width: 50%;
    h2 {
      font-family: "Kumar One", sans-serif;
      text-transform: uppercase;
      font-size: 2.0625rem;
    }
    p {
      font-family: "Lato", sans-serif;
      font-size: 1.25rem;
      width: 90%;
      text-align: left;
      margin: 10px auto;
    }
    a {
      background-color: $dark-green;
      color: white;
      padding: 20px 25px;
      display: inline-block;
      @include buttonText;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.blog header {
  height: 70vh;
  background-image: url("../images/blog-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  div {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: "Kumar One", cursive;
      font-size: 1.375rem;
      span::before {
        content: "\A";
        white-space: pre;
        color: red;
      }
    }

    nav {
      ul {
        display: flex;

        li {
          list-style-type: none;
          margin-left: 50px;
          a {
            font-family: "Lato", sans-serif;
            font-size: 1.25rem;
            text-align: center;
            line-height: 32px;
            letter-spacing: 1px;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  h2 {
    margin-top: 100px;
    font-family: "Kumar One Outline", cursive;
    font-size: 4rem;
    text-transform: uppercase;
  }
}

.blog main {
  background-color: $light-green;

  .blog-positioning {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .blog-container {
      .inner-blog {
        background-color: white;
        position: relative;
        top: -150px;
        width: 80%;
        box-shadow: 20px 15px $yellow, -20px 15px $yellow;
        img {
          box-shadow: 20px 20px $yellow;
          position: relative;
          z-index: 10;
        }
        div {
          position: relative;
          left: 5px;
          margin: 0px 0px 0px auto;
          padding-bottom: 20px;

          background-color: white;
          box-shadow: 10px 10px white, -100px 10px white, -500px 10px white,
            10px -60px white;

          h2 {
            margin-top: 50px;
            font-family: "Kumar One", sans-serif;
            text-transform: uppercase;
            font-size: 2.0625rem;
            line-height: 58px;
            letter-spacing: 2.1px;
          }
          p {
            font-family: "Lato", sans-serif;
            font-size: 1.25rem;
            //   width: 90%;
            text-align: left;
            margin: 10px auto;
            font-weight: lighter;
            line-height: 32px;
            letter-spacing: 2px;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .mission-box {
    width: 90%;
    max-width: 300px;
    height: auto;
    position: relative;
    top: -100px;
    background-color: $yellow;
    height: auto;
    box-shadow: -20px 20px $yellow, 0px 20px $yellow;
    h3 {
      margin-top: 50px;
      font-family: "Kumar One", sans-serif;
      text-transform: uppercase;
      font-size: 1.5rem;
      line-height: 25px;
      letter-spacing: 2.1px;
    }
    p {
      font-family: "Lato", sans-serif;
      font-size: 1.25rem;
      line-height: 32px;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 200;
    }
    ul {
      li {
        font-family: "Lato", sans-serif;
        font-size: 1.25rem;
        line-height: 32px;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 200;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .comment-section {
    h3 {
      margin-top: 50px;
      font-family: "Kumar One", sans-serif;
      text-transform: uppercase;
      font-size: 1.5rem;
      line-height: 25px;
      letter-spacing: 2.1px;
    }
    .comment1,
    .comment2 {
      width: 60%;
      display: flex;
      flex-direction: row;
      div {
        display: block;
        margin: 0px;
        .boldText {
          font-weight: bolder;
        }
        p {
          font-family: "Lato", sans-serif;
          font-size: 1.25rem;
          //   width: 90%;
          text-align: left;
          margin: 10px auto;
          font-weight: lighter;
          line-height: 32px;
          letter-spacing: 2px;
        }
      }
      img {
        width: auto;
        height: 100%;
        margin: 20px 20px 0px 0px;
      }

      // width: 100%;
    }
    form {
      width: 60%;
      fieldset {
        display: flex;
        flex-direction: column;
        border: none;

        div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          input {
            width: 45%;
            border: none;
            border-bottom: 2px solid black;
            background-color: transparent;
            padding: 25px;
          }
          input::placeholder {
            font-size: 1.25rem;
            text-transform: uppercase;
          }
        }
        textarea {
          background-color: transparent;
          padding: 25px;
        }
        textarea::placeholder {
          font-size: 1.25rem;
          text-transform: uppercase;
        }

        input[type="submit"] {
          margin: 25px 0px 75px 0px;
          background-color: $dark-green;
          color: white;
          padding: 10px 25px;
          display: inline-block;
          @include buttonText;
        }
      }
    }
  }
}

.side-bar {
  display: none;
}

footer {
  @import "footer";
}

.contact {
  header {
    height: 70vh;
    background-image: url("../images/contact-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-family: "Kumar One", cursive;
        font-size: 1.375rem;
        span::before {
          content: "\A";
          white-space: pre;
          color: red;
        }
      }

      nav {
        ul {
          display: flex;
          li {
            list-style-type: none;
            margin-left: 50px;
            a {
              font-family: "Lato", sans-serif;
              font-size: 1.25rem;
              text-align: center;
              line-height: 32px;
              letter-spacing: 1px;
              text-decoration: none;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    h2 {
      margin-top: 100px;
      font-family: "Kumar One Outline", cursive;
      font-size: 4rem;
      text-transform: uppercase;
    }
  }

  main {
    background-color: $light-green;

    section {
      display: flex;
      justify-content: space-between;

      form {
        width: 60vw;
        max-width: 1000px;
        height: auto;
        max-height: 700px;
        background-color: white;
        box-shadow: 20px 20px $yellow;
        position: relative;
        top: -200px;
        left: -60px;
        fieldset {
          display: flex;
          flex-direction: column;
          border: none;
          width: 85%;
          margin: auto;

          div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            input {
              width: 45%;
              border: none;
              border-bottom: 2px solid black;
              background-color: transparent;
              padding: 25px;
            }
            input::placeholder {
              font-size: 1.25rem;
              text-transform: uppercase;
            }
          }
          textarea {
            background-color: transparent;
            height: 25vw;
            padding: 25px;
          }
          textarea::placeholder {
            font-size: 1.25rem;
            text-transform: uppercase;
          }

          input[type="submit"] {
            margin: 25px 0px 75px 0px;
            background-color: $dark-green;
            color: white;
            padding: 10px 25px;
            display: inline-block;
            @include buttonText;
          }
        }
      }
      .contact-box {
        div {
          width: 100%;
          margin-top: 100px;
          ul {
            display: flex;
            padding: 0px;

            li {
              font-size: 1.5rem;
              list-style-type: none;
              margin-right: 15px;
              color: $dark-green;
            }
          }
          p {
            font-family: "Lato", sans-serif;
            font-size: 1.25rem;
            line-height: 32px;
            letter-spacing: 1px;
            text-decoration: none;
            width: 165px;
            font-weight: 200;
          }
        }
      }
    }
  }
}

@media (max-width: 1320px) {
  .home {
    header {
      height: 80vh;
      min-height: 900px;
      h1 {
        left: 15%;
      }
    }
    header::before {
      width: 150vw;
    }
    .about3 {
      .parent-grid-div {
        .inner-div1 {
          margin-right: 50px;
        }
        .inner-div2 {
          margin-left: 50px;
        }
      }
    }
  }

  .contact-box {
    margin-left: 100px;
  }
}

@media (max-width: 1200px) {
  .home {
    .about {
      div {
        h2 {
          width: 90%;
        }
      }
    }
    .about2 {
      div {
        h2 {
          width: 90%;
        }
      }
    }
    .about4 {
      div {
        width: 70%;
      }
    }
  }

  .wrapper {
    width: 90%;
  }

  .contact {
    main {
      section {
        form {
          left: 0px;
          fieldset {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .blog main {
    .blog-positioning {
      display: block;
    }
    .mission-box {
      position: absolute;
      top: 225%;
      right: 0;
      div {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }

  .home {
    header {
      min-height: 800px;
    }
    header::before {
      width: 250vw;
    }
    .about {
      flex-direction: column-reverse;
      div {
        h2 {
          margin-top: 100px;
        }
      }
      img {
        width: 60%;
        margin: auto;
      }
    }
    .about2 {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 80%;
      grid-column-gap: 50px;
      justify-content: center;
      div {
        margin: auto;
        width: 100%;
        p {
          width: 100%;
        }
      }
    }
    .about3 {
      .parent-grid-div {
        .inner-div1 {
          margin-right: 25px;

          div {
            width: 70%;
          }
        }
      }
    }
  }

  .blog {
    main {
      .comment-section {
        form {
          fieldset {
            textarea::placeholder {
              font-size: 1rem;
            }
            div {
              input::placeholder {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  section.wrapper {
    flex-direction: column;
    align-items: center;
  }
  .contact {
    header {
      height: 50vh;
      min-height: 400px;
    }
    main {
      section {
        .contact-box {
          width: 100%;
          text-align: center;
          margin: auto;
          div {
            width: 90%;
            margin-top: 0px;
            margin: auto;
            p {
              width: 100%;
            }
            ul {
              justify-content: center;
            }
          }
        }
        form {
          width: 80vw;
          top: -100px;
          fieldset {
            textarea::placeholder {
              font-size: 1rem;
            }
            div {
              input::placeholder {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  h2.wrapper {
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 800px) {
  div.wrapper:nth-child(1) {
    nav:nth-child(2) {
      ul:nth-child(1) {
        display: none;
      }
    }
  }

  .home {
    header {
      margin-bottom: 100px;
      h1 {
        left: 20vw;
        font-size: 3.5rem;
        text-align: center;
      }
      nav {
        display: none;
      }
    }
    header::before {
      min-width: 600px;
      top: 60vh;
    }

    .about {
      display: grid;
      grid-template-rows: 1.2fr 1fr;
      grid-template-columns: 100%;
      row-gap: 25px;
      div {
        h2 {
          margin: auto;
          text-align: center;
        }
        p {
          margin: auto;
          text-align: center;
          margin-top: 50px;
        }
        a {
          margin: 25px auto;
          display: block;
        }
      }
      div:nth-child(1) {
        grid-row-start: 2;
      }
      img {
        grid-row-start: 1;
        grid-column-start: 1;
      }
    }

    .about3 {
      .parent-grid-div {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        .inner-div1 {
          grid-row-start: 1;
          div {
            z-index: 10;
            background: rgba(255, 255, 255, 0.9);
            padding: 25px;
            position: absolute;
          }
          div:nth-child(2) {
            // grid-row-start: 1;
          }
        }
        .inner-div2 {
          grid-row-start: 2;
          div:nth-child(2) {
            grid-row-start: 2;
            grid-row-end: 2;
          }
          div {
            background: rgba(255, 255, 255, 0.9);
            padding: 25px;
            position: absolute;
          }
        }
      }
    }
    .about4 {
      margin-top: 100px;
      div {
        width: 90%;
      }
      img {
        margin-top: 100px;
      }
    }

    .gallery {
      div {
        img {
          width: 90%;
          margin: 20px;
        }
        div {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  .blog {
    header {
      height: 60vh;
      h2 {
        font-size: 20vw;
        text-align: center;
      }
    }
    main {
      .blog-positioning {
        display: block;
        .blog-container {
          .inner-blog {
            width: 90%;
          }
        }
      }
      .mission-box {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-top: 0px;
        max-width: 1200px;
        position: static;
        height: auto;
        img {
          max-height: 300px;
          max-width: 300px;
        }

        div {
          width: 100%;
          height: 100%;
        }
      }
      .comment-section {
        form {
          width: 100%;
        }
        .comment1,
        .comment2 {
          width: 90%;
        }
      }
    }
  }

  @import "sidebar.scss";
}
@media (max-width: 650px) {
  #email {
    width: 100%;
  }

  #full-name {
    width: 100%;
  }

  .home {
    header {
      margin-bottom: 200px;
      h1 {
        font-size: 10vw;
        margin: auto;
        left: 0;
        right: 0;
      }
      nav {
        ul {
          display: none;
        }
      }
    }
    .about {
      grid-template-rows: 1fr 1fr;
      img {
        width: 90%;
      }
      div {
        h2 {
          margin-top: 50px;
        }
      }
    }
    .about2 {
      div {
        left: 25px;
      }
    }
    .about3 {
      .parent-grid-div {
        .inner-div1,
        .inner-div2 {
          div {
            width: 100%;
          }
        }
      }
    }
  }

  .blog {
    main {
      .blog-positioning {
        .blog-container {
          .inner-blog {
            div {
              font-size: 1.75rem;

              p {
                font-size: 1rem;
              }
            }
          }
        }
      }

      .mission-box {
        p {
          font-size: 1rem;
        }
        ul {
          li {
            font-size: 1rem;
          }
        }
      }
      .comment-section {
        .comment1,
        .comment2 {
          div {
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  #usr-form,
  #usr-form2 {
    fieldset:nth-child(1) {
      div:nth-child(1) {
        flex-direction: column;
      }
    }
  }

  .contact {
    main {
      section {
        form {
          fieldset {
            div {
              input {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 590px) {
  #usr-form,
  #usr-form2 {
    fieldset:nth-child(1) {
      textarea:nth-child(3) {
        width: 90%;
        margin: auto;
      }
    }
  }

  .home {
    main {
      .about {
        div {
          h2 {
            margin-top: 20px;
          }
        }
      }
      .about3 {
        .parent-grid-div {
          //   grid-template-rows: 1fr 1fr 1fr 1fr;
          .inner-div1,
          .inner-div2 {
            top: 0px;
            div {
              position: static;
            }
          }
        }
      }
      .about4 {
        margin-top: 0px;
      }
    }
  }

  .blog {
    header {
      height: 70vh;
    }
    main {
      .comment-section {
        .comment1 {
          flex-direction: column;
          margin: auto;
          align-items: center;
        }
        .comment2 {
          flex-direction: column;
          align-items: center;
          margin: auto;
          img:nth-child(1) {
            clear: right;
          }
        }
        .comment1,
        .comment2 {
          img {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .home {
    header {
      min-height: 200px;
      height: 60vh;
      margin-bottom: 0px;
    }
    header::before {
      display: none;
    }
    .about {
      margin: 0px auto;
      grid-template-rows: 0.75fr 1fr;
    }
    .about2 {
      div {
        .font-awesome-icon {
          display: none;
        }
        left: auto;
      }
    }
  }

  .wrapper {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .contact header h2 {
    font-size: 3rem;
  }

  .home {
    .about {
      grid-template-rows: 0.5fr 1fr;
      div {
        h2 {
          font-size: 1.5rem;
        }
      }

      div:nth-child(1) {
        margin: 0px;
      }
    }
    .about2 {
      div {
        h2 {
          font-family: "Kumar One", sans-serif;
          text-transform: uppercase;
          font-size: 1.5rem;
        }
      }
    }
    .about3 {
      .parent-grid-div {
        .inner-div1,
        .inner-div2 {
          margin: auto;
          width: 100%;
          div {
            padding: 5px;
            h2 {
              font-size: 1.75rem;
            }
          }
        }
      }
    }
    .about4 {
      overflow-x: hidden;
      img {
        transform: scale(2.5);
      }
    }
  }

  .blog {
    main {
      .comment-section {
        form {
          fieldset {
            input[type="submit"] {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
